
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar fixed_navbar">

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <img src="../../../assets/Images/logo_new.png" height="45">         </li>
        </ul>
    </div>
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a class="nav-link " routerLink="/account">{{loggedUser.firstName}} {{loggedUser.lastName}}</a>
        </li>
    </ul>
    <form class="form-inline my-3 my-lg-0 navbar-nav mr-4">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle logout_user" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- {{'SHARED.HEADER.userMenu.userMessage' | translate }} -->
                    <i class="fa fa-user-circle fa-2x text-white"></i>
                </a>
            <div class="dropdown-menu dropdown-menu_custom ">
                <a class="dropdown-item logout_user" [routerLink]="['/profile']">
                    Your profile
                    </a>
                    <a class="dropdown-item logout_user" (click)="showLogoutConfirmation()">
                        Logout
                    </a>
            </div>
        </div>
    </form>
</header>
<logout (logoutConfirmation)="onLogoutConfirmation($event)" #logout></logout>