<spinner *ngIf="spinnerActive" class="spinner-position"></spinner>
<div class="container">
     <div class="row">
          <div class="col-md-4">
            <!-- <h6 class="usecase-header"> Pre-Built Use Case</h6> -->
          </div>
          <div class="col-md-8 text-right mb-2">
            <button type="button" (click)='createUseCase()' class="btn btn-outline-primary btn-lg mr-2">Create Use Case</button>            
          </div>
      </div>
     <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active font-weight-bold" id="prebuilt-tab" data-toggle="pill" href="#prebuilt" role="tab" aria-controls="prebuilt" aria-selected="true">Pre-Built Use Case</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" id="userCreated-tab" data-toggle="pill" href="#userCreated" role="tab" aria-controls="userCreated" aria-selected="false">My Use Cases</a>
          </li>
          
         
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="prebuilt" role="tabpanel" aria-labelledby="prebuilt-tab">
               <div class="row">
                    <div class="col-sm-4 mb-4" *ngFor="let usecase of preBuiltUsecases">
                         <div class="card">
                              <div class="card-header bg-none">
                                   <h5 class="modal-title ng-binding">
                                        <div class="row">
                                             <div class="col-md-2">
                                                  <a  ><i class="fa fa-files-o fa-round-bg" aria-hidden="true"></i></a> 
                                             </div>
                                             <div class="col-md-8">
                                                  <a id={{usecase._id}} (click)="editUsecase($event)" >{{usecase.usecase_name}} </a> 
                                             </div>
                                             <div class="col-md-2">
                                                  <a class="icon-arrow-right pull-right">
                                                       <div ngbDropdown class="d-inline-block">
                                                            <button class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i></button>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                            <button ngbDropdownItem  id={{usecase._id}} (click)="editUsecase($event)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Use Case</button>
                                                            <button ngbDropdownItem><i class="fa fa-trash" aria-hidden="true"></i> Delete Use Case</button>
                                                            <button ngbDropdownItem><i class="fa fa-thumb-tack" aria-hidden="true"></i> Pin on Home page</button>
                                                            </div>
                                                       </div>
                                                  </a> 
                                             </div>
                                        </div>
                                      
                                        
                                    </h5>
                              </div>
                              <div class="card-body">                  
                              <p>{{usecase.usecase_description}}</p>                   
                              </div>
                         </div>
                    </div> 
               </div>
          </div>
          <div class="tab-pane fade" id="userCreated" role="tabpanel" aria-labelledby="userCreated-tab">
               <div class="row">
                    <div class="col-sm-4 mb-4" *ngFor="let usecase of mytUsecases">
                         <div class="card">
                              <div class="card-header bg-none">
                                   <h5 class="modal-title ng-binding">
                                        <div class="row">
                                             <div class="col-md-2">
                                                  <a  ><i class="fa fa-files-o fa-round-bg" aria-hidden="true"></i></a> 
                                             </div>
                                             <div class="col-md-8">
                                                  <a id={{usecase._id}} (click)="editUsecase($event)" >{{usecase.usecase_name}} </a> 
                                             </div>
                                             <div class="col-md-2">
                                                  <a class="icon-arrow-right pull-right">
                                                       <div ngbDropdown class="d-inline-block">
                                                            <button class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i></button>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                            <button ngbDropdownItem  id={{usecase._id}} (click)="editUsecase($event)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Use Case</button>
                                                            <button ngbDropdownItem><i class="fa fa-trash" aria-hidden="true"></i> Delete Use Case</button>
                                                            <button ngbDropdownItem><i class="fa fa-thumb-tack" aria-hidden="true"></i> Pin on Home page</button>
                                                            </div>
                                                       </div>
                                                  </a> 
                                             </div>
                                        </div>
                                      
                                        
                                    </h5>
                              </div>
                              <div class="card-body">                  
                              <p>{{usecase.usecase_description}}</p>                   
                              </div>
                         </div>
                    </div> 
               </div>
          </div>
        </div>
</div>
