<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h6 class="create-design-header"><a class="nav-link" routerLink="/casestudy"><i class="fa fa-chevron-left"
            aria-hidden="true"></i> Create Design </a></h6>
    </div>
    <div class="col-md-8 text-right mb-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="labelDropdown" ngbDropdownToggle><i class="fa fa-plus"
            aria-hidden="true"></i> Add Label</button>
        <div ngbDropdownMenu aria-labelledby="labelDropdown">
          <button (click)="addTextField()" ngbDropdownItem>Text Field</button>
          <button ngbDropdownItem>Text Area</button>
          <button ngbDropdownItem>File Browse</button>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="btn btn-outline-primary nav-link active">Design Screen</a>
      </li>&nbsp;
      <li class="nav-item">
        <a class="btn btn-outline-primary nav-link">Design Workflow</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="form-group col-5">
        <label for="inputEmail4">Use Case Name</label>
        <input type="text" class="form-control" [(ngModel)]="modelName" autocomplete="off" id="usecaseName">
      </div>
      <div class="form-group col-5">
        <label for="inputPassword4">Use Case Description</label>
        <input type="text" class="form-control" [(ngModel)]="modelDescription" autocomplete="off"
          id="usecaseDescription">
      </div>
    </div>
    <form #usecaseForm="ngForm" (ngSubmit)="logValue()" autocomplete="off">
      <div class="row">
        <div class="form-group col-5">
          <section *ngFor="let usecase of usecaseform; let i = index;">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                    <label><input type="text" placeholder="Enter Label" class="form-control label-input" [(ngModel)]="usecase.textFieldKey" name="textLabel_{{usecase.id}}" /><button type="button" class="btn btn-outline-danger btn-sm pull-right"
                      (click)="removeTextField(i)"><i class="fa fa-times" aria-hidden="true"></i></button></label>
                  <input type="text" class="form-control" [(ngModel)]="usecase.textFieldValue"
                    name="textValue_{{usecase.id}}" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 text-right">
          <button type="submit" (click)="finalDesign()" class="btn btn-outline-primary">Next</button>
        </div>
      </div>

    </form>
  </div>


</div>
