<spinner *ngIf="spinnerActive" class="spinner-position"></spinner>
<form  [formGroup]="workflowForm" (ngSubmit)="runYourWorkflow()" >
    <div class="form-row">
      <div class="form-group col-md-12">
       <div class="row">
         <div class="col-md-12">
          <label>File Browse</label>
      </div>
       </div>
       <div class="row">
         <div class="col-md-6">
          <!-- <input  formControlName="file" type="file" id="file" (change)="uploadFileInput($event.target.files)"> -->
          <div class="custom-file">
            <input #fileId type="file" class="custom-file-input" formControlName="file" (change)="
        uploadFileInput($event.target.files)" accept="image/*,.pdf">
            <label class="custom-file-label">{{termFileLabel}}</label>
        </div>
        </div>
       </div>
      </div>
    </div>

    <div class="form-row float-right">
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary component-button mt-4">Run Your Workflow</button>
      </div>
    </div> 
  </form>
  <br><br><br><br>
  <section class="results container p-4 mb-4 mt-4">
    <h2>Results</h2>

        
        <div *ngIf="singleModel_isSuccess">
            <span *ngFor="let im of getReceiptUrls(result)">
              
                <img [src]="getUrlForPreviewImage(im)" height="250px" width="250px" class="ml-3 mb-3"/>
            </span>
        </div>
        <div *ngIf="doubleModel_isSuccess">
          <div *ngFor="let item of result | keyvalue">
            <div class="card">
              <div class="card-body">
               <p><b>Invoice Date</b> : {{ item.value.invoice_date }}</p>
               <p><b>Invoice Number</b> : {{ item.value.invoice_number }}</p>
               <p><b>Shipping Address</b> : {{ item.value.shipping_address }}</p>
               <p><b>Total</b> : {{ item.value.total }}</p>
               <p><b>Vendor Address</b> : {{ item.value.vendor_address }}</p>
               <p><b>Vendor Name</b> : {{ item.value.vendor_name }}</p>
 
              </div>
            
            </div><br>
          </div>
           
        </div>
        <div *ngIf='isErrorAvailable'>
            <p>
                {{errMessage}}
            </p>
        </div>
</section>