<div class="container-fluid" *ngIf="showLogin">
    <div class="row">
        <div class="login-pg-container col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="login-pg-bg1"><img src="assets/Images/Image 2@2x.png" class="img-fluid"></div>
            <div class="login-base-container">
                <div class="login-form">
                    <img src="assets/Images/Original.png" class="img-fluid login-pg-logo">
                    <form role="form">
                        <div class="form-group pos-relative">
                            <i class="fa fa-user login-ico" aria-hidden="true"></i>
                            <input focusIndex="1" [attr.aria-label]="'SHARED.ARIALABLES.loginPage_email_input' | translate" type="email" name="emailAddress" class="form-control rounded-pill" id="email" placeholder="{{'PUBLIC.Login.emailAddressPlaceHolder' | translate }}" [(ngModel)]="model.emailAddress"
                                (keyup.enter)="login()" #email>
                        </div>
                        <div class="form-group pos-relative">
                            <i class="fa fa-eye login-ico" aria-hidden="true"></i>
                            <input focusIndex="2" [attr.aria-label]="'SHARED.ARIALABLES.loginPage_password_input' | translate" name="password" type="password" class="form-control rounded-pill" id="pwd" placeholder="{{'PUBLIC.Login.passwordPlaceHolder' | translate }}" [(ngModel)]="model.password"
                                (keyup.enter)="login()" #password>
                        </div>
                        <button type="button" class="btn btn-default rounded-pill" id="loadButton" (click)="login()" focusIndex="3">{{'PUBLIC.Login.loginButton' | translate }}<span
                                *ngIf="model.isAuthInitiated == true"> ... <i class='fa fa-spinner fa-spin'>
                                </i></span></button>

                        <div class="form-group text-right mt-2">
                            <!-- <input type="checkbox" class="login-pg-remember-checkbox" /> -->
                            <!-- <a [routerLink]="['/sendemail']" routerLinkActive="router-link-active">Remember Me
                                        </a> -->
                            <span>&nbsp;</span>
                            <a [routerLink]="['/sendemail']" routerLinkActive="router-link-active">Forgot
                                Password?</a>
                        </div>
                        <div class="text-left mt-2">Dont have account <a [routerLink]="['/signup']">Sign Up</a></div>
                    </form>
                </div>
            </div>
            <div class="login-pg-bg2"><img src="assets/Images/Image 3@2x.png" class="img-fluid"></div>
        </div>
    </div>
</div>