
<div class="container">
  <div class="row">
      <div class="col-md-4">
        <h6 class="create-design-header"><a class="nav-link" routerLink="/casestudy" ><i class="fa fa-chevron-left" aria-hidden="true"></i> All Use Case </a></h6>
      </div>
      <div class="col-md-8 text-right mb-2">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary ml-2" (click)="editCurrentWorkflow()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Your Workflow</button>

        </div>
  
      </div>
      
  </div>
  <spinner *ngIf="spinnerActive" class="spinner-position"></spinner>
  <div class="container">
       <!-- <form class="mt-5" [formGroup]="runWorkflowForm" (ngSubmit)="runYourWorkflow()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name</label>
              <input type="input" formControlName="name" [(ngModel)]="workFlowName" class="form-control" readonly >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Description</label>
              <input type="input" formControlName="description"  class="form-control" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12"  *ngIf="textFieldInput">
             <div class="row">
               <div class="col-md-12">
              <label>Text Field</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="textField" class="form-control label-input"   />
               </div>
               <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(textFieldInput)" ><i class="fa fa-times" id="removeTextField" aria-hidden="true"></i></button>
               </div>
             </div>
            </div>
          </div> 
         
       
           
          <div class="form-row">
            <div class="form-group col-md-12" id="ratio" #ratio style="display: none;"  >
             <div class="row">
               <div class="col-md-12">
                <label>Ratio</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="number" formControlName="ratio" rows="5" class="form-control label-input"   >
               </div>
               <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(ratio)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
               </div>
             </div>
            </div>
          </div>

          
           <div class="form-row">
            <div class="form-group col-md-12" id="type_of_summary" #type_of_summary style="display: none;"  >
             <div class="row">
               <div class="col-md-12">
                <label>Type of summary</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="type_of_summary" rows="5" class="form-control label-input"   >
               </div>
               <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(type_of_summary)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
               </div>
             </div>
            </div>
          </div>

          
           <div class="form-row">
            <div class="form-group col-md-12" id="algorithmname" #algorithmname style="display: none;"  >
             <div class="row">
               <div class="col-md-12">
                <label>Algorithm Name</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="algorithmname" rows="5" class="form-control label-input"   >
               </div>
               <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(algorithmname)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
               </div>
             </div>
            </div>
          </div>

        
           <div class="form-row">
            <div class="form-group col-md-12" id="number_of_indexes" #number_of_indexes style="display: none;"  >
             <div class="row">
               <div class="col-md-12">
                <label>Number of indexes</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="number" formControlName="number_of_indexes" rows="5" class="form-control label-input"   >
               </div>
               <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(number_of_indexes)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
               </div>
             </div>
            </div>
          </div>

            
            <div class="form-row">
              <div class="form-group col-md-12" id="question" #question style="display: none;"  >
               <div class="row">
                 <div class="col-md-12">
                  <label>Question</label>
              </div>
               </div>
               <div class="row">
                 <div class="col-md-6">
                  <input type="text" formControlName="question" rows="5" class="form-control label-input"   >
                 </div>
                 <div class="col-md-6">
                  <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(question)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
                 </div>
               </div>
              </div>
            </div>

           
            <div class="form-row">
              <div class="form-group col-md-12" id="query" #query style="display: none;"  >
               <div class="row">
                 <div class="col-md-12">
                  <label>Query</label>
              </div>
               </div>
               <div class="row">
                 <div class="col-md-6">
                  <input type="text" formControlName="query" rows="5" class="form-control label-input"   >
                 </div>
                 <div class="col-md-6">
                  <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(query)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
                 </div>
               </div>
              </div>
            </div>

             
              <div class="form-row">
                <div class="form-group col-md-12" id="org" #org style="display: none;"  >
                 <div class="row">
                   <div class="col-md-12">
                    <label>Organisation</label>
                </div>
                 </div>
                 <div class="row">
                   <div class="col-md-6">
                    <input type="text" formControlName="org" rows="5" class="form-control label-input"   >
                   </div>
                   <div class="col-md-6">
                    <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(org)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
                   </div>
                 </div>
                </div>
              </div>

             
              <div class="form-row">
                <div class="form-group col-md-12" id="kb_id" #kb_id style="display: none;"  >
                 <div class="row">
                   <div class="col-md-12">
                    <label>Knowledge base id</label>
                </div>
                 </div>
                 <div class="row">
                   <div class="col-md-6">
                    <input type="text" formControlName="kb_id" rows="5" class="form-control label-input"   >
                   </div>
                   <div class="col-md-6">
                    <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(kb_id)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
                   </div>
                 </div>
                </div>
              </div>

               
                <div class="form-row">
                  <div class="form-group col-md-12" id="top_n" #top_n style="display: none;"  >
                   <div class="row">
                     <div class="col-md-12">
                      <label>Top Results</label>
                  </div>
                   </div>
                   <div class="row">
                     <div class="col-md-6">
                      <input type="text" formControlName="top_n" rows="5" class="form-control label-input"   >
                     </div>
                     <div class="col-md-6">
                      <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(top_n)" ><i class="fa fa-times" id="removeTextArea"  aria-hidden="true"></i></button>
                     </div>
                   </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12" id="fileBrowseInput" #fileBrowseInput style="display: none;" >
                   <div class="row">
                     <div class="col-md-12">
                      <label>File Browse</label>
                  </div>
                   </div>
                   <div class="row">
                     <div class="col-md-6">
                      <input  formControlName="fileBrowse" type="file" id="file" (change)="uploadFileInput($event.target.files)">
                    </div>
                     <div class="col-md-6">
                      <button type="button" class="btn btn-outline-danger btn-sm " (click)="removeField(fileBrowseInput)"  ><i class="fa fa-times" id="removeFileBrowse" aria-hidden="true"></i></button>
                     </div>
                   </div>
                  </div>
                </div>
         
                <div class="form-row float-right">
                  <div class="form-group col-md-12">
                    <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
                  </div>
                </div>     
        </form> -->

        <!-- display name and description  -->
        <form class="mt-5" [formGroup]="runWorkflowForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name</label>
              <input type="input" formControlName="name" [(ngModel)]="workFlowName" class="form-control" readonly >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Description</label>
              <input type="input" formControlName="description"  class="form-control" readonly>
            </div>
          </div>           
        </form>
  
        <!-- 1] TermsExtraction, VoiceClassification, SpeakerDiarization, TextExtraction,
           InvoiceExtraction, InstanceSegmentation, VideoAnalytics, ObjectDetection, TableExtractor -->

        <form  [formGroup]="workflowForm_1" (ngSubmit)="runYourWorkflow_1()" *ngIf = 'display_workflowForm_1'>
          <div class="form-row">
            <div class="form-group col-md-12">
             <div class="row">
               <div class="col-md-12">
                <label>File Browse</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input  formControlName="file" type="file" id="file" (change)="uploadFileInput($event.target.files)">
              </div>
             </div>
            </div>
          </div>
   
          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

         <!-- 2] Classification ,AnamolyDetection -->
         <form  [formGroup]="workflowForm_2" (ngSubmit)="runYourWorkflow_2()" *ngIf = 'display_workflowForm_2'>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Algorithm Name</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="algorithmname" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
             <div class="row">
               <div class="col-md-12">
                <label>File Browse</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input  formControlName="file" type="file" id="file" (change)="uploadFileInput($event.target.files)">
              </div>
             </div>
            </div>
          </div>
   
          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

        <!-- DocumentClassification  -->
        <form  [formGroup]="workflowForm_3" (ngSubmit)="runYourWorkflow_3()" *ngIf = 'display_workflowForm_3'>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Text</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="text" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>

          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

         <!-- TimeSeries  -->
         <form  [formGroup]="workflowForm_4" (ngSubmit)="runYourWorkflow_4()" *ngIf = 'display_workflowForm_4'>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Algorithm Name</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="algorithmname" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Number of indexes</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="number" formControlName="number_of_indexes" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>

          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

         <!-- TextSummarization  -->
         <form  [formGroup]="workflowForm_5" (ngSubmit)="runYourWorkflow_5()" *ngIf = 'display_workflowForm_5'>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Text</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="text" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Ratio</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="number" formControlName="ratio" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Type of summary</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="type_of_summary" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>

          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

         <!-- SentimentClassification  -->
         <form  [formGroup]="workflowForm_6" (ngSubmit)="runYourWorkflow_6()" *ngIf = 'display_workflowForm_6'>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Input  Text</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="input_text" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>

          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

         <!-- QNA-KB  -->
         <form  [formGroup]="workflowForm_7" (ngSubmit)="runYourWorkflow_7()" *ngIf = 'display_workflowForm_7'>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Question</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="question" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>kb_id</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="kb_id" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>top_n</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="top_n" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>

          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

        <!-- TicketClassification  -->
        <form  [formGroup]="workflowForm_8" (ngSubmit)="runYourWorkflow_8()" *ngIf = 'display_workflowForm_8'>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Question</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="question" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>org</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="org" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>top_n</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="top_n" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>

          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

         <!-- 9] NER -->
         <form  [formGroup]="workflowForm_9" (ngSubmit)="runYourWorkflow_9()" *ngIf = 'display_workflowForm_9'>
          <div class="form-row">
            <div class="form-group col-md-12" >
             <div class="row">
               <div class="col-md-12">
                <label>Query</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input type="text" formControlName="query" class="form-control label-input"   >
               </div>
             </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
             <div class="row">
               <div class="col-md-12">
                <label>File Browse</label>
            </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                <input  formControlName="file" type="file" id="file" (change)="uploadFileInput($event.target.files)">
              </div>
             </div>
            </div>
          </div>
   
          <div class="form-row float-right">
            <div class="form-group col-md-12">
              <button type="submit"  class="btn btn-outline-primary btn-lg">Run Your Workflow</button>
            </div>
          </div> 
        </form>

  </div>

  <div class="container">
      <form class="mt-5">
          <div class="form-row">
              <div class="form-group col-md-12">
              <label for="exampleFormControlTextarea1">Output</label>
              <textarea class="form-control"  name="outpurResult" id="exampleFormControlTextarea1" rows="10">{{Output_result | json}}</textarea>
              </div>
          </div>              
      </form>
  </div>
</div>

