#f1
{
    border: 1px solid grey;
    padding:  2px 4px; 
    box-shadow: 1px 0px 0px;
}

#btn{
    text-align: center;
}

.top{
    margin-top: 40px;
    border-radius: 10px;
}

.mandatory
{
    color: red;
}