.custom-file-label {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: lightgray
}
.results{/* flex: 1 1 auto; */background: #EEEEEE;min-height: 550px;}
.error-message {
    color: #f00;
    margin-left: 5px;
}

.nav-tabs .nav-link.active {
    border-bottom-style: solid !important;
    border-bottom-color: #006bd1 !important;
    border: 3px;
    background-color: #eee;
    color: #006bd1;
}

.tab-content>.tab-pane {
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0px;
    border: 0.3px;
    border-radius: 0px;
    margin-top: 0px;
    overflow-y: auto;
}

.text-color {
    background-color: rgba(26, 160, 250, 0.938);
}

.th-color {
    background-color: #3a5198;
    color: #fff;
}

.nav-link {
    color: #a8a8a8;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
    width: 30px
}


.th-color {
    background-color: #3a5198;
    color: #fff;
    text-align: center;
}