<error-dialog></error-dialog>
<p-toast [style]="{marginTop: '10px'}" position="top-right"></p-toast>
<app-modal></app-modal>
<ng-container *ngIf="isUserLoggedIn">
    <app-header></app-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <app-left-panel></app-left-panel>
            </div>
            <main class="col main-Div">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</ng-container>

<div id="login-pg" *ngIf="!isUserLoggedIn">
    <div class="container-fluid">
        <div class="row">
            <div class="empty-login-banner">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>