<!-- <spinner *ngIf="spinnerActive" class="spinner-position"></spinner>
<form  [formGroup]="workflowForm" (ngSubmit)="runYourWorkflow()">
    <div class="form-row">
      <div class="form-group col-md-12" >
       <div class="row">
         <div class="col-md-12">
          <label>Question</label>
      </div>
       </div>
       <div class="row">
         <div class="col-md-12">
          <textarea type="text" formControlName="question" class="form-control label-input"  rows="3" ></textarea>
         </div>
       </div>
      </div>
    </div>
    <div class="form-group ">
      <div class="row">
        <div class="col-md-12">
         <label>Organization</label>
     </div>
      </div>
      <div class="row">
        <div class="col-sm-2">                        
          <select class="form-control input-shadow light-font" formControlName = "org" placeholder="org">
              <option  value="AIRTEL" >AIRTEL</option>
              <option value="Qrg 2">Org 2</option>
              <option value="Org 3">Org 3</option>
          </select>
      </div>
      </div>
      
  </div>
  <div class="form-group row p-2">
      <div class="w-10 mx-2 align-middle">   
          <span class="light-font">Size:</span>
      </div>     
      <div class="w-20 mx-2">                 
          <select class="form-control-sm light-font" formControlName = "top_n">
              <option  value="2">2</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
          </select>
      </div>
      <div class="w-10 mx-2 align-middle"> 
          <span class="light-font">entries</span>
      </div>
  </div>

    <div class="form-row float-right mt-4">
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary component-button mt-4">Run Your Workflow</button>
      </div>
    </div> 
  </form>

 <br><br><br><br><br><br>
<section class="results container p-4 mb-4 mt-4">
  <h2>Results</h2>
 
  <div>
      <div *ngIf="isSuccess">
        <div *ngFor="let item of Output_result">
          <p><b>Question : </b>{{item.matched_question}}</p>
          <p><b>Answer : </b>{{item.answer}}</p>
          <hr>
        </div>
         
      </div>
      <div *ngIf = 'isErrorAvailable'>
          <p>
              {{errMessage}}
          </p>
      </div>
  </div>

</section> -->

<!-------------------------------------------------------------------------------->

 <spinner *ngIf="spinnerActive" class="spinner-position"></spinner> 
<form  [formGroup]="workflowForm" (ngSubmit)="runYourWorkflow()">
    <div class="form-row">
      <div class="form-group col-md-12" >
       <div class="row">
         <div class="col-md-12">
          <label>Question</label>
      </div>
       </div>
       <div class="row">
         <div class="col-md-12">
          <textarea type="text" formControlName="question" placeholder="Add input text here" class="form-control label-input"  rows="2" ></textarea>
         </div>
       </div>
      </div>
    </div>
    <div class="form-group ">
      <div class="row">
        <div class="col-md-12">
         <label>Organization</label>
     </div>
      </div>
      <div class="row">
        <div class="col-sm-2">                        
          <select class="form-control input-shadow light-font" formControlName = "org" placeholder="org">
              <option  value="AIRTEL" >AIRTEL</option>
              <option value="Qrg 2">Org 2</option>
              <option value="Org 3">Org 3</option>
          </select>
      </div>
      </div>
      
  </div>
  <div class="form-group row p-2">
      <div class="w-10 mx-2 align-middle">   
          <span class="light-font">Size:</span>
      </div>     
      <div class="w-20 mx-2">                 
          <select class="form-control-sm light-font" formControlName = "top_n">
              <option  value="2">2</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
          </select>
      </div>
      <div class="w-10 mx-2 align-middle"> 
          <span class="light-font">entries</span>
      </div>
  </div>

    <div class="form-row float-right mt-4">
      <div class="form-group col-md-12">
        <button type="submit"  [disabled]="!workflowForm.valid" class="btn btn-primary component-button mt-4">Run Your Workflow</button>
      </div>
    </div> 
  </form>

 <br><br><br><br><br><br>
<section class="results container p-4 mb-4 mt-4">
  <h2>Results</h2>
 
  <div>
      <div *ngIf="isSuccess">
        <div *ngFor="let item of Output_result">
          <p><b>Question : </b>{{item.matched_question}}</p>
          <p><b>Answer : </b>{{item.answer}}</p>
          <hr>
        </div>
         
      </div>
      <div *ngIf = 'isErrorAvailable'>
          <p>
              {{errMessage}}
          </p>
      </div>
  </div>

  <ng-container *ngIf="!Output_result && !spinnerActive">
    <div><b>No Records found</b></div>
</ng-container>

</section>

 

