
<!------------------------Forgot password template--------------------------------->
<spinner *ngIf="spinnerActive" class="spinner-position"></spinner>

<div class="container-fluid" >
    <div class="row">
        <div class="login-pg-container col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="login-pg-bg1"><img src="assets/Images/Image 2@2x.png" class="img-fluid"></div>
            <div class="login-base-container">
                <div class="login-form">
                    <img src="assets/Images/Original.png" class="img-fluid login-pg-logo">
                    <h1 class="login-title">Reset the Password</h1>
                    <form  [formGroup]="signupform" (ngSubmit)="onsignupformSubmit()">
                         
                        <div class="form-group pos-relative">
                            <i class="fa fa-eye login-ico" aria-hidden="true"></i>
                            <input focusIndex="1" formControlName="password"  type="password" name="password" class="form-control rounded-pill" id="email" placeholder="Password" [ngClass]="{ 'is-invalid': regi_submitted && f_register.password.errors }" >
                            <div *ngIf="regi_submitted && f_register.password.errors" class="invalid-feedback text-left">
                                <div *ngIf="f_register.password.errors.required">Please enter the Password</div>
                                <div *ngIf="f_register.password.errors.pattern">The password must be at least 8 characters long and contain at least one upper and lower case letter and a number. Special characters (+ * , % _ = ! $ @ # &) are allowed but not mandatory.</div>
                            </div>
                        </div>
                        <div class="form-group pos-relative">
                            <i class="fa fa-eye login-ico" aria-hidden="true"></i>
                            <input focusIndex="1" formControlName="c_password"  type="password" name="password" class="form-control rounded-pill" id="email" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': regi_submitted && f_register.c_password.errors }" >
                            <div *ngIf="regi_submitted && f_register.c_password.errors" class="invalid-feedback text-left">
                                <div *ngIf="f_register.c_password.errors.required">Please enter the Confirm Password</div>
                                <div *ngIf="f_register.c_password.errors.mustMatch">Password and Confirm Password does not match</div>
                            </div>
                        </div><br>

                    
                        <button type="submit" class="btn btn-default rounded-pill" id="loadButton" focusIndex="3">Change Password</button>
                        
                       
                    </form>
                </div>
            </div>
            <div class="login-pg-bg2"><img src="assets/Images/Image 3@2x.png" class="img-fluid"></div>
        </div>
    </div>
</div>
