<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
     </staticContent>
    <rewrite>
        <rules>
        <rule name="Angular Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="./index.html" />
        </rule>
        </rules>
    </rewrite>
	<httpProtocol>
        <customHeaders>
            <remove name="X-Content-Type-Options" /> 
			<add name="X-Content-Type-Options" value="nosniff" />
			<add name="X-Frame-Options" value="deny" />
            <add name="X-XSS-Protection" value="1; mode=block" />
        </customHeaders>
    </httpProtocol>
    </system.webServer>
</configuration> 