<div class="row">
    <div class="col-2"></div>
    <div class="col top">
        <h5>Welcome ! To AI-Workbench Portal, start exploring the story.</h5>
        <br/>
        <p><em>How do i proceed</em> - Nothing special, just start adding components and services as you normally would</p>
        <p><em>Whats that to left side</em> - Demos of some of components that might come handy to you</p>
        <p><em>Show me what the kit has</em> - Sure, head over
            <a target="_blank" href="https://dah.xpanxion.co.in:9010/accelerators/angular">here</a></p>
        <p><em>Whats the version of angular</em>- V9</p>

        <em><a routerLink="/marketplace">Start Building Your Own Use Case</a></em>
    </div>

</div>