<!-- <div class="wrapper txt-color">
    <h1 class="header-title">Test model - <b>Text</b> Summarization</h1>
    <div class="model-Data">
        <form [formGroup]="firstFormGroup">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <span>Text summarization refers to the technique of shortening long pieces of text. The intention is to create a coherent and fluent summary having only the main points outlined in the document.</span>
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-10">
                    <input type="text" placeholder="Name of your file" class="form-control" name="txtUpload" id="txtUpload" disabled="true" />
                    <input #fileId type="file" name="upload" hidden  formControlName="upload" (change)="
                    handleUpload($event, fileId.files);">
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary full-width" id="btnUpload" name="btnUpload" (click)="openDialog()" >Upload</button>
                </div>
            </div>
            <div class="form-row padding-top-bottom full-width text-center">
                <div class="full-width">OR</div>
            </div>
            <div class="form-row zero-margin">
                <div class="form-group col-md-8">
                    <textarea name="description" placeholder="Start typing..." class="form-control txa-description" formControlName="description"></textarea>
                </div>
                <div class="form-group col-md-2 zero-margin">
                    <div class="rdb-space">
                        <input type="radio" class="rdb-height" id="rdbExtract" name="testType" />
                        &nbsp;&nbsp;<label for="rdbExtract">Extractive</label>
                    </div>
                    <div>
                        <input type="radio" class="rdb-height" id="rdbAbstract" name="testType" />
                        &nbsp;&nbsp;<label for="rdbAbstract">Abstractive</label>
                    </div>
                </div>
                <div class="form-group col-md-2 btn-summary">
                    <button class="btn btn-primary full-width" id="btnSummary" id="btnSummary">Summary</button>
                </div>
            </div>
            <hr />
            <div class="form-row result-pannel">
                <div class="form-group col-md-12 result-pannel-header">
                    Results
                </div>
                <div class="result-pannel-body">

                </div>
            </div>
        </form>
    </div>
</div> -->

<!-- <iframe src="http://dah.xpanxion.co.in:9008/text-summarization" width="100%" height="100%"></iframe> -->
<iframe src="https://www.tutorialrepublic.com" width="100%" height="100%"></iframe>